{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content_sidebar %}
<ul>
    <li><a href="/profile/">Manage Profiles</a></li>
</ul>
{% endblock %}

{% block content_main %}
<h1>Dashboard</h1>

<h3>Recent Runs</h3>
<table>
    <thead>
        <tr>
            <th>Run</th>
            <th>Profile</th>
            <th>Started At</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for run in object_list %}
        <tr>
            <th><a href="{{run.get_absolute_url}}">{% firstof run.name run.id %}</a></th>
            <td>{{ run.profile }}</td>
            <td>{{ run.started_at }}</td>
            <td>{{ run.get_status_display }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>URL Search</h3>
<form action="/url/" method="GET">
    <label>URL: <input type="text" name="search"></label>
    <button type="submit">Find</button>
</form>

{% endblock content_main %}
